<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/loginStyle.css')}}">
  </head>
  <body>
    <div class="container">
      <center><h1>Song Data Viewer Login</h1></center>
      <center> Note:- username = admin and password = test123</center>
      <br>
      <form action="" method="post">
        <label for="username"><b>Username</b></label>
        <input class="center-block" type="text" placeholder="Username" name="username">
        <label class="center-block" for="password"><b>Password</b></label>
        <input class="center-block" type="password" placeholder="Password" name="password">
        <button class="center-block" type="submit" value="Login">Login</button>
      </form>
      {% if error %}
       <center> <p class="error"><strong>Error:</strong> {{ error }} </p></center>
      {% endif %}
    </div>
  </body>
</html>